.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
  }
  
  ion-card {
    width: 80%;
    max-width: 500px;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  

  

  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  