<ion-card>
  <ion-card-header>
    <ion-card-title style="text-align: center;">Selecciona tu Veterinario</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item *ngFor="let veterinario of tsveterinarios">
        <ion-thumbnail slot="start">
          <img src="assets/logo.jpg">
        </ion-thumbnail >
        <ion-label (click)="twotoggleSubservicios(veterinario.nombre, veterinario.id)" [class.selected]="codigoVeterinario === veterinario.id ">
          <h3>{{ veterinario.nombre }}</h3>
          <p>{{ veterinario.sucursal }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-button expand="block" (click)="continuar()" [disabled]="!codigoVeterinario">Continuar</ion-button>
  </ion-card-content>
</ion-card>
