<div class="card">
  <div class="card-body">
    <h5 class="card-title">Selecciona tu servicio</h5>
    <ul class="servicios-lista">
      <li *ngFor="let servicio of tsservicios">
        <button class="servicio-btn" (click)="toggleSubservicios(servicio.numero)">{{ servicio.nombre}}</button>
        <ul class="subservicios-lista" *ngIf="servicioSeleccionado === servicio.numero">
          <li>Consulta Veterinaria</li>
          <li>Vacunas</li>
          <li>Imagenología (Ecografías)</li>
          <li>Especialidades Médicas</li>
          <li>Exámenes de Sangre</li>
          <li>Cirugía y Procedimientos</li>
        </ul>
      </li>
    </ul>
    <button type="submit" class="btn btn-primary continuar-btn" (click)="continuar()">Continuar</button>
  </div>
</div>
