<ion-card>
  <ion-card-header>
    <ion-card-title style="text-align: center;">Selecciona tu servicio</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item *ngFor="let servicio of tsservicios">
        <button ion-button class="servicio-btn" (click)="toggleSubservicios(servicio.numero)">
          {{ servicio.nombre }}
        </button>
        <ion-list *ngIf="servicioSeleccionado === servicio.numero">
          <ion-item>Consulta Veterinaria</ion-item>
          <ion-item>Vacunas</ion-item>
          <ion-item>Imagenología (Ecografías)</ion-item>
          <ion-item>Especialidades Médicas</ion-item>
          <ion-item>Exámenes de Sangre</ion-item>
          <ion-item>Cirugía y Procedimientos</ion-item>
        </ion-list>
      </ion-item>
    </ion-list>
    <ion-button color="primary" expand="full" (click)="continuar()">Continuar</ion-button>
  </ion-card-content>
</ion-card>
