.card {
  background-color: #42cfd4;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 230px;
  margin-top: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}
.card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir completamente el contenedor */
  background-position: center; /* Centra la imagen de fondo */
  background-repeat: no-repeat;
  z-index: -30;
}

@media (max-width: 576px) {
  .card img{
    position: absolute;
    top: 60;
    left: 0;
    width: 200%;
    height: 88%;
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir completamente el contenedor */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat;
    z-index: -40;
  }

}


.card-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.servicios-lista {
  list-style: none;
  padding-left: 0;
  margin-bottom: 20px;
}

.servicios-lista li {
  margin-bottom: 10px;
}

.servicio-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

// .subservicios-lista {
//   list-style: none;
//   padding-left: 20px;
//   margin-top: 0;
//   display: none;
// }
// .subservicios-lista.show {
//   display: block;
// }


// .subservicios-lista li {
//   margin-bottom: 5px;
// }

.btn-primary {
  width: 100%;
  border-radius: 30px;
  background-color: #007bff;
  color: #fff;
  font-size: 18px;
  padding: 10px;
  transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #0069d9;
}

.continuar-btn {
  margin-top: 20px;
}
