.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  ion-card {
    text-align: center;
    width: 400px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  