<!-- admin-panel.component.html -->
<div class="admin-panel">
    <h1 class="panel-title">Panel de Administración</h1>
  
    <div class="card-container">
      <div class="card">
        <h2>Crear Turnos</h2>
        <p>Agrega nuevos turnos al sistema.</p>
        <button class="btn" (click)="crear()">Ir a Crear Turnos</button>
      </div>

      <div class="card">
        <h2>Ver y Eliminar Turnos</h2>
        <p>Elimina turnos del sistema.</p>
        <button class="btn" (click)="eliminar()">Ir a Ver y Eliminar Turnos</button>
      </div>

      <div class="card">
        <h2>Ver y Eliminar Citas</h2>
        <p>Elimina citas del sistema.</p>
        <button class="btn" (click)="eliminar()">Ir a Ver y Eliminar Citas</button>
      </div>
    </div>
  </div>
  