<div class="page">
    <ion-card>
      <h2 class="mb-2" style="text-align: center;">Selecciona un horario</h2>
      <style>
        ion-datetime {
          display: block;
          margin: 0 auto;
          color: rgb(94, 180, 214);
        }
      </style>
      <ion-datetime presentation="date"></ion-datetime>
      <div>
        <ion-chip color="success">12:30 - 13:00</ion-chip>
        <ion-chip color="success">12:30 - 13:00</ion-chip>
        <ion-chip color="success">12:30 - 13:00</ion-chip>
      </div>
      <div class="button-container">
        <ion-button (click)="datosPaciente()">Continuar</ion-button>
        <ion-button fill="clear" (click)="back()">Atrás</ion-button>      </div>
    </ion-card>
  </div>
  