.page {
    ion-card {
        margin-top: 50px;
        margin-inline: auto;
        max-width: 500px;
        padding: 42px;
    }
}
.button-container {
    display: flex;
    justify-content: space-between;
  }
  
.selected {
    background-color: blue;
    color: white;
  }
  
