<!-- app.component.html -->
<div class="card-container">
  <h2 class="mb-4">Login Administrativo</h2>
    <div class="form-group mb-3">
      <label for="rut">Correo</label>
      <input type="text" id="rut" placeholder="juan@gmail.com" [(ngModel)]="email" #ctrl="ngModel" required>
    </div>
    <div class="form-group mb-3">
      <label for="password">Contraseña</label>
      <input type="password" id="password" placeholder="***********" [(ngModel)]="password" #ctrl="ngModel" required>
    </div>
  <div class="form-group mb-3">
    <br>
  </div>
  <button class="login-button" (click)="login()">Acceder</button>
</div>