<section class="seccion-portada">
  <img src="assets/portada.jpg" alt="Fondo de portada" class="imagen-fondo">
  <div class="containerTitulo">
    <h1 class="titulo-portada">¡Bienvenidos a UltraVetShop!</h1>
  </div>
</section>

<section class="seccion-animales">
  <div class="container">
    <div class="slices-container">
      <div class="slice">
        <img src="assets/general.jpg" alt="Mascota 1">
        <p>Medicina General</p>
        <p></p>
      </div>
      <div class="slice">
        <img src="assets/general.jpg" alt="Mascota 2">
        <p>Medicina Felina</p>
      </div>
      <div class="slice">
        <img src="assets/general.jpg" alt="Mascota 3">
        <p>Medicina de Animales Exóticos</p>
      </div>
      <div class="slice">
        <img src="assets/general.jpg" alt="Mascota 4">
        <p>Dermatología</p>
      </div>
      <div class="slice">
        <img src="assets/general.jpg" alt="Mascota 5">
        <p>Geriatría  y Gerontología</p>
      </div>
      <div class="slice">
        <img src="assets/genral2.jpg" alt="Mascota 5">
        <p>Consulta Pre Quirúrgica</p>
      </div>
      <div class="slice">
        <img src="assets/general.jpg" alt="Mascota 5">
        <p>Odontología</p>
      </div>
      <div class="slice">
        <img src="assets/genral2.jpg" alt="Mascota 5">
        <p>Vacunas Caninos</p>
      </div>
      <div class="slice">
        <img src="assets/genral2.jpg" alt="Mascota 5">
        <p>Vacuna Puppy DP</p>
      </div>
      <div class="slice">
        <img src="assets/general.jpg" alt="Mascota 5">
        <p>Vacuna Óctuple</p>
      </div>
      <div class="slice">
        <img src="assets/general.jpg" alt="Mascota 5">
        <p>Vacuna Sextuple</p>
      </div>
      <div class="slice">
        <img src="assets/general.jpg" alt="Mascota 5">
        <p>Desparasitaciones</p>
      </div>
    </div>
  </div>
</section>

<section class="seccion-vetenarios" id="veterinarios">
  <div class="animalitos-container">
    <div class="titulo-veterinarios">
      <h2>VETERINARIOS</h2>
    </div>
    <div class="card-container">
      <div class="card">
        <img src="assets/vet1.jpg" alt="Servicio 1">
        <p>Nombre: Veterinario 1</p>
        <p>Especialidad: Especialidad 1</p>
      </div>
      <div class="card">
        <img src="assets/vet1.jpg" alt="Servicio 2">
        <p>Nombre: Veterinario 1</p>
        <p>Especialidad: Especialidad 1</p>
      </div>
      <div class="card">
        <img src="assets/vet1.jpg" alt="Servicio 3">
        <p>Nombre: Veterinario 1</p>
        <p>Especialidad: Especialidad 1</p>
      </div>
    </div>
  </div>
</section>

<section class="seccion-veterinarios">
  <div class="animalitos-container">
    <div class="titulo-servicios">
      <h2>ATENCIONES</h2>
    </div>
    <div class="card-container">
      <div class="card">
        <img src="assets/mascota3.jpg" alt="Animalito1">
        <h3>Felino</h3>
        <p>Vacuna contra la</p>
      </div>
      <div class="card">
        <img src="assets/mascota3.jpg" alt="Animalito1">
        <h3>Felino</h3>
        <p>Vacuna contra la</p>
      </div>
      <div class="card">
        <img src="assets/mascota3.jpg" alt="Animalito1">
        <h3>Felino</h3>
        <p>Vacuna contra la</p>
      </div>
    </div>
  </div>
</section>