.seccion-portada {
  position: relative;
  height: 87vh; /* Establece la altura de la sección como el 100% del viewport height */
  overflow: hidden; /* Oculta el desbordamiento de la imagen de fondo */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
}

.imagen-fondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir completamente el contenedor */
  background-position: center; /* Centra la imagen de fondo */
  background-repeat: no-repeat;
  z-index: 1;
}

.containerTitulo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 2; /* Agrega un z-index mayor */
}

.titulo-portada {
  position: absolute;
  top: 11%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.5rem;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  border-radius: 70px;
  padding: 1.1rem 1.1rem;
  background-color: rgba(212, 176, 122, 0.7);
  transition: background-color 9s ease-in-out;
  z-index: 2;
}



@media (max-width: 576px) {
  /* Estilos para dispositivos extra-pequeños */
  .titulo-portada {
    font-size: 2rem;
    /* Ajuste: tamaño de letra reducido */
    padding: 0.9rem 1rem;
    /* Ajuste: padding reducido */
  }
  .imagen-fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir completamente el contenedor */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat;
    z-index: 1;
  }
  .seccion-portada {
    position: relative;
    height: 69vh; /* Establece la altura de la sección como el 100% del viewport height */
    overflow: hidden; /* Oculta el desbordamiento de la imagen de fondo */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
  }
}





/* Estilos para la sección servicios */
.seccion-animales {
  background-color: #7bd7db;
  padding: 50px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
}

.container {
  position: relative;
  overflow: hidden;
}

.slices-container {
  display: flex;
  animation: desplazamiento-slices 20s infinite;
  /* Animación de desplazamiento automático */
}

.slice {
  flex: 0 0 20%;
  /* Ajusta el ancho de los slices según tu preferencia */
  text-align: center;
  padding: 20px;
  background-color: #ffffff; /* Color calipso */
  margin-right: 10px;
  border-radius: 10px; /* Añade el border-radius para hacer los cards más redondos */
}

.slice img {
  width: 100%;
  max-height: 200px;
  /* Ajusta la altura de las imágenes según tu preferencia */
  object-fit: cover;
  margin-bottom: 20px;
}

@keyframes desplazamiento-slices {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-80%);
  }
}

@media screen and (max-width: 768px) {
  /* Agrega las reglas CSS para dispositivos móviles aquí */
  .slice {
    flex: 0 0 33.33%; /* Ajusta el ancho de los slices para dispositivos móviles */
    padding: 20px; /* Ajusta el padding de los slices para dispositivos móviles */
  }
  
  .slice img {
    width: 300%;
    height: 50%; /* Cambia la altura a auto para mantener la proporción de las imágenes */
    max-height: 300px; /* Ajusta la altura máxima de las imágenes para dispositivos móviles */
  }

  .slices-container {
    animation: desplazamiento-slices-mobile 10s infinite;
  }

  @keyframes desplazamiento-slices-mobile {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-300%);
    }
  }
}



// seccion nosotros
.nosotros-container {
  max-width: 20%;
  padding:20px;
}

/* Estilos para la sección de veterinarios */
.seccion-veterinarios {
  background-color: #7bd7db;
  padding: 20px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
}

/* Estilos para el título de los veterinarios */
.titulo-veterinarios {
  text-align: center;
  background-color: #7bd7db;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;

}

.titulo-veterinarios h2 {
  margin: 0;
  color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;

}



/* Estilos para los cards de los veterinarios */
.seccion-vetenarios {
  background-color: #7bd7db;
  padding: 20px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
}
.card-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 10px;
}

.card-veterinario .especialidad {
  font-size: 15px;
  color: #424242;
  line-height: 1.4;
}

.card-veterinario .especialidad-title {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.card-veterinario {
  background-color: #7bd7db;
  /* Color naranja */
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  flex-basis: calc(33.33% - 20px);
  max-width: 250px;
  padding: 10px;
  text-align: center;
  transition: transform 0.3s;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
  /* Transición de transform para el efecto de zoom */
}
.card-veterinario img {
  width: auto;
  height: 350px;
  object-fit: cover;
  border-radius: 20%;
  margin-bottom: 19px;
}
.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 200px;
  border-radius: 50%;
}


.card:hover {
  transform: scale(1.05);
  /* Efecto de zoom al pasar el cursor sobre el card */
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  /* Overlay negro con transparencia */
  opacity: 0;
  transition: opacity 0.3s;
  /* Transición de opacidad para el overlay */
}

.card:hover::before {
  opacity: 1;
  /* Mostrar overlay al pasar el cursor sobre el card */
}

/* Estilos adicionales para dispositivos móviles */
@media (max-width: 768px) {

  .card-veterinario .especialidad {
    font-size: 10px;
    color: #424242;
    line-height: 1.4;
  }

  .card-veterinario img {
    width: auto;
    height: 120px;
    object-fit: cover;
    border-radius: 20%;
    margin-bottom: 0px;
  }

  .card img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    margin-bottom: 2px;
    border-radius: 20%;
    padding: 2px;
  }

  .card-veterinario .especialidad-title {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 2px;
  }
  .nombre {
    font-size: 9px;
    color: #000000;
    line-height: 1.4;
    padding: 12px;
  }
}




/* Estilos para la sección de animalitos */
.seccion-animalitos {
  background-color: #7bd7db;
  padding: 20px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.card-animalitos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 20px; /* Espacio entre los cards */
}

.card {
  background-color: #e08700;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  flex-basis: calc(33.33% - 40px);
  max-width: 250px;
  max-height: 520px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s;
  font-family: 'Roboto', sans-serif;
}

.card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.card h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.card p {
  margin-top: 0;
  margin-bottom: 0;
} 

.card:hover {
  transform: scale(1.05);
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.3s;
}

@media (max-width: 768px) {
  .card {
    flex-basis: calc(100% - 100px);
    max-width: 200px;
  }
  
  .card-animalitos {
    margin-top: 50px;
  }
}



