<section class="seccion-portada">
  <img src="assets/portada.JPEG" alt="Fondo de portada" class="imagen-fondo">
  <div class="containerTitulo">
    <h1 class="titulo-portada">¡Bienvenidos a UltraVetShop!</h1>
  </div>
</section>

<section class="seccion-animales">
  <div class="container">
    <div class="slices-container">
      <div class="slice">
        <img src="assets/controlSano.JPEG" alt="Mascota 1">
        <p>Control Sano</p>
        <p></p>
      </div>
      <div class="slice">
        <img src="assets/examnesLaboratorio.JPEG" alt="Mascota 2">
        <p>Examenes Laborario</p>
      </div>
      <div class="slice">
        <img src="assets/medicinaFelina.JPEG" alt="Mascota 3">
        <p>Medicina Felina</p>
      </div>
      <div class="slice">
        <img src="assets/peluqueria.JPEG" alt="Mascota 4">
        <p>Peluquería</p>
      </div>
      <div class="slice">
        <img src="assets/vacunaGato.JPEG" alt="Mascota 5">
        <p>Vacuna Felino</p>
      </div>
      <div class="slice">
        <img src="assets/vacunasCanino.JPEG" alt="Mascota 5">
        <p>Vacuna Canino</p>
      </div>
      <div class="slice">
        <img src="assets/dental.jpg" alt="Mascota 5">
        <p>Cuidado Dental</p>
      </div>
      <div class="slice">
        <img src="assets/cirugia.jpg" alt="Mascota 5">
        <p>Cirugía</p>
      </div>
    </div>
  </div>
</section>

<section class="seccion-vetenarios" id="veterinarios">
    <div class="titulo-veterinarios">
      <h2>VETERINARIOS</h2>
    </div>
    <div class="card-container">
      <div class="card-veterinario">
        <img src="assets/vet1.jpg" alt="Servicio 1">
        <p class="nombre">Isidora Delpin Gatica</p>
        <p class="especialidad-title">Especialidad</p>
        <p class="especialidad">Especialista en Cirugía de tejidos blandos y Medicina General en Pequeños Animales</p>
      </div>
      <div class="card-veterinario">
        <img src="assets/vet2.jpg" alt="Servicio 2">
        <p class="nombre">Natalia Ulsen San Martín</p>
        <p class="especialidad-title">Especialidad</p>
        <p class="especialidad">Especialista en Cirugía de tejidos blandos y Medicina General en Pequeños Animales</p>
      </div>
      <div class="card-veterinario">
        <img src="assets/chani.jpg" alt="Servicio 3">
        <p class="nombre">Luciana Moena Contreras</p>
        <p class="especialidad-title">Especialidad</p>
        <p class="especialidad">Especialista en Cirugía de tejidos blandos y Medicina General en Pequeños Animales</p>
      </div>
    </div>
</section>

<section class="seccion-animalitos">
    <div class="titulo-servicios">
      <h2>ATENCIONES</h2>
    </div>
    <div class="card-animalitos">
      <div class="card">
        <img src="assets/mascota3.jpg" alt="Animalito1">
        <h3>Felino</h3>
        <p>Semana de</p>
      </div>
      <div class="card">
        <img src="assets/mascota3.jpg" alt="Animalito1">
        <h3>Felino</h3>
        <p>Vacuna contra la</p>
      </div>
      <div class="card">
        <img src="assets/mascota3.jpg" alt="Animalito1">
        <h3>Felino</h3>
        <p>Vacuna contra l</p>
      </div>
    </div>
</section>