<section class="seccion-portada">
  <img src="assets/portada.JPEG" alt="Fondo de portada" class="imagen-fondo">
  <div class="containerTitulo">
    <h1 class="titulo-portada">¡Bienvenidos a UltraVetShop!</h1>
  </div>
</section>

<section class="seccion-animales">
  <div class="container">
    <div class="slices-container">
      <div class="slice">
        <img src="assets/controlSano.JPEG" alt="Mascota 1">
        <p>Control Sano</p>
        <p></p>
      </div>
      <div class="slice">
        <img src="assets/examnesLaboratorio.JPEG" alt="Mascota 2">
        <p>Examenes Laborario</p>
      </div>
      <div class="slice">
        <img src="assets/medicinaFelina.JPEG" alt="Mascota 3">
        <p>Medicina Felina</p>
      </div>
      <div class="slice">
        <img src="assets/peluqueria.JPEG" alt="Mascota 4">
        <p>Peluquería</p>
      </div>
      <div class="slice">
        <img src="assets/vacunaGato.JPEG" alt="Mascota 5">
        <p>Vacuna Felino</p>
      </div>
      <div class="slice">
        <img src="assets/vacunasCanino.JPEG" alt="Mascota 5">
        <p>Vacuna Canino</p>
      </div>
      <div class="slice">
        <img src="assets/dental.JPEG" alt="Mascota 5">
        <p>Cuidado Dental</p>
      </div>
      <div class="slice">
        <img src="assets/cirugia.jpg" alt="Mascota 5">
        <p>Cirugía</p>
      </div>
    </div>
  </div>
</section>

<section class="seccion-vetenarios" id="veterinarios">
    <div class="titulo-veterinarios">
      <h2>VETERINARIOS</h2>
    </div>
    <div class="card-container">
      <div class="card-veterinario">
        <img src="assets/vet1.jpg" alt="Servicio 1">
        <p class="especialidad-title">Isidora Delpin Gatica</p>
        <p class="sub-title">Médico Veterinaria</p>
        <p class="especialidad">Especialista en Medicina Felina y Medicina General de Pequeños Animales.</p>
      </div>
      <div class="card-veterinario">
        <img src="assets/vet2.jpg" alt="Servicio 2">
        <p class="especialidad-title">Natalia Ulsen San Martín</p>
        <p class="sub-title">Médico Veterinaria</p>
        <p class="especialidad">Especialidades en Geriatría, Dermatología y Medicina General de Pequeños animales.</p>
      </div>
      <div class="card-veterinario">
        <img src="assets/chani.jpg" alt="Servicio 3">
        <p class="especialidad-title">Luciana Moena Contreras</p>
        <p class="sub-title">Médico Veterinaria</p>
        <p class="especialidad">Especialista en Cirugía de tejidos blandos y Medicina General en Pequeños Animales.</p>
      </div>
    </div>
</section>

<section class="seccion-animalitos">
  <div class="titulo-servicios">
    <h2>ATENCIONES</h2>
  </div>
  <div class="card-animalitos">
    <div class="card">
      <img src="assets/mascota3.jpg" alt="Animalito1">
      <div class="card-contenido">
        <h3>Felino</h3>
        <p>Vacuna contra la akskaksasakskaks
          asas
        </p>
      </div>
    </div>
    <div class="card">
      <img src="assets/mascota3.jpg" alt="Animalito1">
      <div class="card-contenido">
        <h3>Felino</h3>
        <p>Vacuna contra la akskaksasakskaks
          asas
        </p>
      </div>
    </div>
    <div class="card">
      <img src="assets/mascota3.jpg" alt="Animalito1">
      <div class="card-contenido">
        <h3>Felino</h3>
        <p>Vacuna contra la akskaksasakskaks
          asas
        </p>
      </div>
    </div>
  </div>
</section>
