<table>
  <thead>
    <tr>
      <th>Día</th>
      <th>Horarios disponibles</th>
      <th>Asignar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let horario of horariosDisponibles">
      <td>Lunes</td>
      <td>{{ horario }}</td>
      <td>
        <input type="checkbox" >
      </td>
    </tr>
    <tr *ngFor="let horario of horariosDisponibles">
      <td>Martes</td>
      <td>{{ horario }}</td>
      <td>
        <input type="checkbox" >
      </td>
    </tr>
    <!-- Agregar filas para los demás días de la semana -->
  </tbody>
</table>
 